* {
    margin: 0;
    padding: 0;
}

#logo img {
    height: 100%;
    width: 66px;

    border-radius: 50%
}

/* css variable */
:root {
    --navbar-height: 59px;
}

/* navigation bar */
#navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: sticky;
    top: 2px;
    font-family: "Baloo Bhaijaan 2", sans-serif;
}

#navbar::before {
    content: '';
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 1;
}

#logo {
    margin: 3px 6px;
}

#logo img {
    height: 59px;
    margin: 3px 6px;
}

/* navigation bar: list styling */
#navbar {
    position: absolute;
    width: 100%;
}

#navbar ul {
    display: flex;
}

#navbar ul li {
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a {
    color: white;
    display: block;
    padding: 3px 15px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover {
    color: black;
    background-color: antiquewhite;
}

/* home section */
#home {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 3px 200px;
    height: 490PX;
    justify-content: center;
    align-items: center;
}

#home::before {
    content: '';
    background: url(./images/bg\,png.jpg);
    background-size: cover;
    background-position: center;
    /* transform: rotate(180deg); */
    position: absolute;
    top: 0px;
    left: 0px;
    height: 86%;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}

#home h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: "Baloo Bhai 2", sans-serif;
}

#home p {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 1.5rem;
    font-family: "Baloo Bhai 2", sans-serif;
}

/* service secrion */
.services-container {
    margin-top: 120px;
}

#services {
    margin: 34px;
    display: flex;
}

#services .box img {
    height: 160px;
    display: block;
    margin: auto;
}

#services .box {
    border: 2px solid brown;
    margin: 3px 6px;
    padding: 34px;
    border-radius: 20px;
    background: #f2f2f2;
    ;
}

#services .box p {
    font-family: "Baloo Bhai 2", sans-serif;
}

/* client section */
#client-section {
    height: 344px;
}

#client-section::before {
    content: '';
    position: absolute;
    background: url(./images/tomatoes-3404263_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
    width: 100%;
    height: 54%;
    z-index: -1;
    opacity: 0.9;
}

#clients {
    display: flex;
    justify-content: center;
    align-items: center;
}

#clients img {
    height: 104px;
}

.client-item {
    padding: 17px;
}

/* contact section */
#Contact {
    position: relative;
}

#Contact::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url(./images/contact-us-4193523_1280.jpg) no-repeat center center/cover;
}

#contact-box {
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
    margin-left: 200px;
}

#contact-box form {
    width: 40%;
}

#contact-box form input {
    padding: 5px;
    margin: 5px;
    border-radius: 15px;

}



.btn a {
    text-decoration: none;
    color: white;
}

.btn {
    margin-left: 1800px;
}

footer {
    background-color: black;
    color: white;
    padding: 9px 20px;
    font-size: large;
    padding: 18px 2px;
    box-shadow: 3px 3px 4px rgb(255, 255, 255);
}

/* utility classis */
.h-primary {
    font-size: 2.8rem;
    padding: 12px;
    font-family: "Baloo Bhai 2", sans-serif;
    color: black;
}

.h-secondary {
    font-size: 2.3rem;
    padding: 12px;
    font-family: "Baloo Bhai 2", sans-serif;
}

.btn {
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 85px
}

.btn a:hover {
    background-color: rgb(32, 23, 23);
}

.center {
    text-align: center;
}
.h-primary{
    font-size: 3.8rem;
    color: #0a0a0a;
}


/* mediaquery for mobileohones */
@media (max-width:900px) {

    /* Navigation */
    #navbar {
        flex-direction: column;
    }

    #navbar ul li a {
        font-size: 1rem;
        padding: 0px 7px;
        padding-bottom: 8px;
    }

    /* Home section */
    #home {
        height: 370px;
        padding: 3px 28px;
    }

    #home::before {
        height: 480px;
    }

    #home p {
        font-size: 13px;
    }

    /* Services section  */
    .h-primary{
        margin-top: -30px;

        font-size:20px;
        color: black;
    }
    #services {
        flex-direction: column;
    }

    #services .box {
        padding: 14px;
        margin: 2px 0px;
        margin-bottom: 20px;
    }

    /* Clients section */
    #clients {
        flex-wrap: wrap;
    }

    #clients img {
        width: 66px;
        padding: 6px;
        height: auto;
    }

    /* Contact us section */
    #contact-box form {
        width: 80%;
    }

    #contact-box {
        margin-left: 70px;
    }

    /* Footer */

    /* Utility classes */
    .h-primary {
        font-size: 26px;
    }

    .btn {
        font-size: 13px;
        padding: 4px 8px;
    }
}



